/* Desplazando divs relativamente
Define un documento HTML con un div padre (divPadre), dentro del cual existan otras 3 cajas contenedoras div (div1, div2 y div3), cada una de ellas con unas dimensiones de 300x300px, 40 píxeles de margin en todas direcciones, 30 píxeles de padding en todas direcciones y un background color diferente. Usando posicionamiento relativo genera un desplazamiento de los div de la siguiente manera:
a) El div 1 deberá desplazarse 100 píxeles a la derecha y 50 píxeles hacia abajo respecto a lo que sería su posición normal.
b) El div 2 deberá desplazarse 150 píxeles a la izquierda y 320 píxeles hacia arriba respecto a lo que sería su posición normal.
c) El div 3 deberá desplazarse 180 píxeles a la derecha y 240 píxeles hacia arriba respecto a lo que sería su posición normal. */
.padre{
    border: 2px solid black;
}

.box {
    height: 300px;
    width: 300px;
    margin: 40px;
    padding: 30px;
}

.div1{
    background-color: greenyellow;
    border: 1px solid green;
    position: relative;
    right: -100px;
    bottom: -50px;
}

.div2{
    background-color: hotpink;
    border: 1px solid magenta;
    position: relative;
    left: -150px;
    top: -320px;
}

.div3{
    background-color: aquamarine;
    border: 1px solid aqua;
    position: relative;
    right: -180px;
    top: -240px;
}

