/* Vente conmigo
Crear un documento HTML con una cabecera y un contenedor principal con varios párrafos que contengan suficiente texto como para que la página se muestre con scroll (barras de desplazamiento).
a) Añadir fondo morado a la cabecera y hacer que se mantenga fija arriba.
b) Hacer que la cabecera no tape el contenedor principal cuando no hemos hecho scroll, sin utilizar margin ni padding (PISTA: posiciona el contenedor principal).
c) Hacer que cuando la usuaria haga scroll, la cabecera se apile o superponga por encima del contenedor principal. */

header {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    background-color: purple;
    position: fixed;
}

div {
    position: relative;
    top: 120px;
}