* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  margin-top: 20px;

}

.section__cards{
  display: flex;
}

.card {
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  margin: auto;
  margin-top: 30px;
  width: 400px;
  max-height: 381px;
}

.card__title {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.content__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.name {
  font-size: 18px;
  color: rgb(61, 61, 61);
}

.date {
  font-size: 14px;
  color: rgb(97, 96, 96);
}

.card__text{
  padding: 20px;
  padding-top: 5px;
  color: gray;
}

.card__footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.moreText {
  color: rgb(185, 185, 185);
  cursor: pointer;
}

.content__heart{
  display: flex;
  align-items: center;
}
.number{
  color: rgb(61, 61, 61);
}

.fa-heart{
  color: rgb(216, 17, 17);
  font-size: 26px;
  padding-left: 8px;
  cursor: pointer;
}