.container {
    background-color: rgb(229, 250, 250);
    border: 3px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column; /* Eje principal en vertical - Eje secundario en horizontal*/
    /* flex-direction: row;  Eje principal en horizontal - Eje secundario en vertical*/ 
}

.items {
    border: 1px solid rgb(0, 140, 255);
    background-color: aquamarine;
}